<section class="connect-wallet-wrapper my-4">
  <alpha-vault-card-details>
    <div class="icon-content">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            class="link-round"
            [routerLink]="['/payment/connect']"
            routerLinkActive="active-link"
            >&nbsp;</a
          >
        </li>
        <li class="list-inline-item">
          <a
            class="link-round"
            [routerLink]="['/payment/connect/step-2']"
            routerLinkActive="active-link"
            >&nbsp;</a
          >
        </li>
        <li class="list-inline-item">
          <a
            class="link-round"
            [routerLink]="['/payment/connect/step-3']"
            routerLinkActive="active-link"
            >&nbsp;</a
          >
        </li>
      </ul>
    </div>
    <ng-container class="additional-content">
      <alpha-vault-connect-payment-card [title]="'Connect Wallet'">
        <ng-container class="icon-content">
          <mat-icon
            class="icon-content payment-card-icon"
            aria-hidden="false"
            [attr.aria-label]="'Connect Wallet'"
            >account_balance_wallet</mat-icon
          >
        </ng-container>

        <ng-container class="button-content">
          <a
            class="primary-button"
            [routerLink]="['/portfolio/create']"
            routerLinkActive="active-link"
          >
            <button class="btn btn-primary btn-alpha-vault">
              CONNECT WALLET
            </button>
          </a>
        </ng-container>
      </alpha-vault-connect-payment-card>

      <hr class="card-separator my-4" />

      <alpha-vault-connect-payment-card [title]="'Bank or Card'">
        <ng-container class="icon-content">
          <mat-icon
            class="icon-content payment-card-icon"
            aria-hidden="false"
            [attr.aria-label]="'Bank or Card'"
            >credit_card</mat-icon
          >
        </ng-container>

        <ng-container class="button-content">
          <a
            class="primary-button"
            [routerLink]="['/portfolio/create']"
            routerLinkActive="active-link"
          >
            <button class="btn btn-primary btn-alpha-vault">
              PAYMENT GATEWAY
            </button>
          </a>
        </ng-container>
      </alpha-vault-connect-payment-card>
    </ng-container>
  </alpha-vault-card-details>
</section>
