<section class="auth-form-wrapper mb-4">
  <alpha-vault-card-details
    [heading]="forgotPasswordDetails?.title"
    [subHeading]="true"
  >
    <ng-container class="sub-heading-content mt-0"
      >{{ forgotPasswordDetails?.type }}
    </ng-container>

    <alpha-vault-forgot-password-form
      class="additional-content"
      [form]="form"
      [submitted]="submitted"
    ></alpha-vault-forgot-password-form>

    <div class="footer-content col-xs-12">
      <div class="row mb-4">
        <div class="col text-center">
          <button class="btn btn-primary btn-alpha-vault" (click)="onSubmit()">
            SEND LINK
          </button>
        </div>
      </div>
    </div>
  </alpha-vault-card-details>
</section>
