<ng-container
  *ngIf="
    coinHoldings?.value?.length;
    then coinHoldingsTable;
    else noCoinHoldings
  "
></ng-container>
<div class="row" *ngIf="submitted">
  <div class="col">
    <alpha-vault-error-messages
      [label]="'Coin Holdings'"
      [control]="coinHoldings"
    ></alpha-vault-error-messages>
  </div>
</div>

<ng-template #noCoinHoldings>
  <div class="row">
    <div class="col">
      <p class="text-center">No Coin Holdings</p>
    </div>
  </div>
</ng-template>

<ng-template #coinHoldingsTable>
  <mat-table [dataSource]="coinHoldings.value" class="coin-holdings-table">
    <ng-container matColumnDef="thumbnail">
      <mat-cell *matCellDef="let cell">
        <img
          *ngIf="cell.thumbnail"
          class="coin-thumbnail"
          [src]="cell.thumbnail"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-cell *matCellDef="let cell" class="ws-nowrap">
        {{ cell.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <mat-cell
        *matCellDef="let cell; let i = index"
        class="justify-content-end"
      >
        {{ cell.percentage / 100 | percent: '2.2' }}
        <span
          *ngIf="!readonly"
          class="ml-1 cursor-pointer text-danger"
          (click)="$event.stopPropagation(); removeCoinEmitter.emit(i)"
        >
          <mat-icon aria-hidden="false">cancel</mat-icon>
        </span>

        <span *ngIf="readonly" class="ml-1 cursor-pointer text-pink">
          <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </span>
      </mat-cell>
    </ng-container>

    <mat-row
      class="border-0"
      *matRowDef="let row; columns: columns; let i = index"
      (click)="rowClickedEmitter.emit(row)"
    ></mat-row>
  </mat-table>

  <ng-container
    *ngIf="getCoinHoldingsTotal(coinHoldings?.value || []) as coinTotal"
  >
    <div class="row mx-0 my-3">
      <div class="col">
        <span class="d-inline py-1 px-2 text-success coin-rem-total">
          {{ (100 - coinTotal) / 100 | percent: '2.2' }} left
        </span>
      </div>
      <div class="col">
        <p class="text-right font-weight-bold">
          Total: {{ coinTotal / 100 | percent: '2.2' }}
        </p>
      </div>
    </div>
  </ng-container>
</ng-template>
