@import '../../../../../assets/scss/variables';

:host ::ng-deep .home-card-section {
  video {
    border-radius: 20px;
  }
  .portfolio-carousel-wrapper {
    .portfolio-carousel {
      .portfolio-carousel-item {
        .card-details-body {
          &.card-content {
            .portfolio-description {
              min-height: 70px;
            }
          }
        }
      }
    }
  }
  .nav-item {
    .nav-link {
      border: 1px solid $cadmium-violet;
      border-radius: 30px;
      .coin-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 1px 1px 5px $quick-silver;
      }
    }

    @media screen and (max-width: $small) {
      .nav-link {
        padding: 4px 4px;
        font-size: 10px;
        .img-fluid {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  @media screen and (max-width: $small) {
    .nav-item {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
