<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<ng-container *ngIf="!loading">
  <section class="my-4">
    <alpha-vault-card-details
      class="home-card-section"
      [heading]="howItWorksDetails?.title"
      [content]="howItWorksDetails?.content | contentExcerpt: contentLimit"
    >
      <mat-icon
        class="icon-content"
        aria-hidden="false"
        [attr.aria-label]="howItWorksDetails?.title"
        >question_mark</mat-icon
      >

      <alpha-vault-video-player
        class="additional-content"
      ></alpha-vault-video-player>

      <div class="primary-button">
        <button class="btn btn-primary btn-alpha-vault" (click)="onLearnMore()">
          LEARN MORE
        </button>
      </div>
    </alpha-vault-card-details>
  </section>

  <section class="my-4">
    <alpha-vault-portfolio-carousel
      class="home-card-section"
      [portfolios]="portfolios"
    ></alpha-vault-portfolio-carousel>
  </section>

  <section class="my-4">
    <alpha-vault-card-details
      [heading]="createPortfolioDetails?.title"
      [content]="createPortfolioDetails?.content"
    >
      <mat-icon
        class="icon-content"
        aria-hidden="false"
        [attr.aria-label]="createPortfolioDetails?.title"
        >pie_chart</mat-icon
      >

      <a
        class="primary-button"
        [routerLink]="['/portfolio/create']"
        routerLinkActive="active-link"
      >
        <button class="btn btn-primary btn-alpha-vault">
          CREATE PORTFOLIO
        </button>
      </a>
    </alpha-vault-card-details>
  </section>

  <section class="my-4">
    <alpha-vault-card-details
      [heading]="avxDetails?.title"
      [subHeading]="true"
      [content]="avxDetails?.content"
    >
      <ng-container class="sub-heading-content mt-0"
        >{{ avxDetails?.type }}
      </ng-container>

      <alpha-vault-portfolio-value
        class="icon-content"
        [portfolioValue]="avxDetails?.percentage"
        [isTrending]="avxDetails?.isTrending"
      ></alpha-vault-portfolio-value>

      <a
        class="primary-button"
        [routerLink]="['/auth/sign-in']"
        routerLinkActive="active-link"
      >
        <button class="btn btn-primary btn-alpha-vault">STAKE NOW</button>
      </a>

      <a
        class="secondary-button"
        [routerLink]="['/auth/sign-in']"
        routerLinkActive="active-link"
      >
        <button class="btn btn-secondary btn-alpha-vault">BUY NOW</button>
      </a>
    </alpha-vault-card-details>
  </section>
</ng-container>
