@import '../../../../../assets/scss/variables';

:host ::ng-deep .home-card-section {
  video {
    border-radius: 20px;
  }
  .sub-heading {
    display: inline;
    padding: 4px 8px;
    border-radius: 16px;
    color: $white;
    background-color: $light-coral;
  }
}
