// media sizes
$extra-small: '0px';
$small: '576px';
$medium: '768px';
$large: '992px';
$extra-large: '1200px';

// color codes
$red: #ff0000;
$green: #00ff00;
$white: #ffffff;
$bright-pink: #ff0084;
$cadmium-violet: #843ea1;
$bright-turquoise: #01e2dc;
$light-coral: #ec7f81;
$quick-silver: #a3a3a3;
$dark-gunmetal: #212529;
$cultured: #f8f8f8;
