<mat-card-content class="card-details-body card-content m-0" [formGroup]="form">
  <div class="row m-0">
    <div class="col investment-form">
      <mat-form-field class="w-100" appearance="outline">
        <mat-icon aria-hidden="false" matPrefix>attach_money</mat-icon>
        <input
          type="number"
          placeholder="Investment Amount"
          aria-label="Investment Amount"
          matInput
          formControlName="investmentAmount"
        />
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted && form.controls?.investmentAmount?.errors"
        [label]="'Investment Amount'"
        [control]="form.controls?.investmentAmount"
      ></alpha-vault-error-messages>
    </div>
  </div>
</mat-card-content>
