<ng-container *ngIf="control?.errors">
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.required">
    {{ label | titlecase }} is required
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.min">
    {{ label | titlecase }} cannot be less than {{ control?.errors?.min?.min }}
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.max">
    {{ label | titlecase }} cannot be more than {{ control?.errors?.max?.max }}
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.minlength">
    {{ label | titlecase }} cannot be less than
    {{ control?.errors?.minlength?.requiredLength }} characters
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.maxlength">
    {{ label | titlecase }} cannot be more than
    {{ control?.errors?.maxlength?.requiredLength }} characters
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.pattern">
    {{ label | titlecase }} is invalid
  </span>
  <span class="d-block mb-0 text-danger" *ngIf="control?.errors?.custom">
    {{ control?.errors?.custom }}
  </span>
</ng-container>
