<div class="portfolio-carousel-wrapper">
  <div
    class="portfolio-carousel"
    [ngStyle]="{ width: portfolios.length * 90 + '%' }"
  >
    <ng-container *ngFor="let portfolio of portfolios; let i = index">
      <alpha-vault-card-details
        role="button"
        [heading]="portfolio?.title"
        [subHeading]="true"
        [content]="portfolio?.content"
        class="portfolio-carousel-item float-left"
        [ngStyle]="{
          width: 'calc(100%/ ' + portfolios.length + ' - 1rem)',
          'margin-right': '1rem'
        }"
        (click)="openPortfolio.emit(portfolio.id)"
      >
        <ng-container class="sub-heading-content mt-0">
          <span class="{{ portfolio?.type | lowercase }}">{{
            portfolio?.type
          }}</span>
        </ng-container>

        <a class="primary-button" routerLinkActive="active-link">
          <button class="btn btn-primary btn-alpha-vault">INVEST NOW</button>
        </a>
      </alpha-vault-card-details>
    </ng-container>
  </div>
</div>
