.portfolio-carousel-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.1rem;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    display: none;
  }
  .portfolio-carousel {
    clear: both;
    .portfolio-carousel-item {
      .coin-holdings-wrapper {
        .nav-item {
          width: 33.33%;
        }
      }
    }
  }
}
