<div class="portfolio-carousel-wrapper">
  <div
    class="portfolio-carousel"
    [ngStyle]="{ width: portfolios.length * 90 + '%' }"
  >
    <ng-container *ngFor="let portfolio of portfolios; let i = index">
      <alpha-vault-card-details
        role="button"
        [heading]="portfolio?.title"
        [subHeading]="true"
        class="portfolio-carousel-item float-left"
        [ngStyle]="{
          width: 'calc(100%/ ' + portfolios.length + ' - 1rem)',
          'margin-right': '1rem'
        }"
        (click)="openPortfolio.emit(portfolio.id)"
      >
        <ng-container class="sub-heading-content mt-0">
          <span class="{{ portfolio?.type | lowercase }}">{{
            portfolio?.type
          }}</span>
        </ng-container>

        <ng-container class="additional-content">
          <p class="portfolio-description">{{ portfolio.content }}</p>
          <a
            class="text-dark font-weight-bold"
            [routerLink]="['/portfolio/details/' + portfolio?.id]"
            routerLinkActive="active-link"
          >
            More Details >
          </a>
          <ul class="coin-holdings-wrapper nav">
            <li
              class="nav-item"
              *ngFor="let coinHolding of portfolio.coinHoldings"
            >
              <a class="nav-link text-dark mx-1"
                >{{ coinHolding.percentage / 100 | percent: '2.2' }}
                {{ coinHolding.abbr }}
                <img class="coin-icon img-fluid" [src]="coinHolding.icon"
              /></a>
            </li>
          </ul>
        </ng-container>

        <a class="primary-button" routerLinkActive="active-link">
          <button class="btn btn-primary btn-alpha-vault">INVEST NOW</button>
        </a>
      </alpha-vault-card-details>
    </ng-container>
  </div>
</div>
