<div class="portfolio-carousel-wrapper">
  <div
    class="portfolio-carousel"
    [ngStyle]="{ width: portfolios.length * 90 + '%' }"
  >
    <ng-container *ngFor="let portfolio of portfolios; let i = index">
      <alpha-vault-card-details
        role="button"
        [heading]="portfolio?.title"
        [subHeading]="true"
        class="portfolio-carousel-item float-left"
        [ngStyle]="{
          width: 'calc(100%/ ' + portfolios.length + ' - 1rem)',
          'margin-right': '1rem'
        }"
        (click)="openPortfolio.emit(portfolio.id)"
      >
        <alpha-vault-portfolio-value
          class="icon-content"
          [portfolioValue]="portfolio?.percentage"
          [isTrending]="portfolio?.isTrending"
        ></alpha-vault-portfolio-value>

        <ng-container class="sub-heading-content mt-0">
          <span class="{{ portfolio?.type | lowercase }}">{{
            portfolio?.type
          }}</span>
        </ng-container>

        <ng-container class="additional-content">
          <p class="portfolio-description">{{ portfolio.content }}</p>
          <a
            class="text-dark font-weight-bold"
            [routerLink]="['/portfolio/details/' + portfolio?.id]"
            routerLinkActive="active-link"
          >
            More Details >
          </a>
          <ul class="coin-holdings-wrapper nav">
            <li
              class="nav-item"
              *ngFor="let coinHolding of portfolio.coinHoldings"
            >
              <div class="nav-link text-dark mx-1 d-flex align-items-center">
                <span class="coin-holdings-details-column">{{
                  coinHolding.percentage / 100 | percent
                }}</span>
                <span class="coin-holdings-details-column">{{
                  coinHolding.abbr
                }}</span>
                <span class="coin-holdings-details-column">
                  <img class="coin-icon img-fluid" [src]="coinHolding.icon" />
                </span>
              </div>
            </li>
          </ul>
          <div class="row my-2">
            <div class="col">
              <button class="w-100 btn btn-secondary btn-alpha-vault">
                INVEST NOW
              </button>
            </div>
          </div>
        </ng-container>
      </alpha-vault-card-details>
    </ng-container>
  </div>
</div>
