<!--  <mat-toolbar color="primary">
    

    <mat-toolbar-row>
        
      
    </mat-toolbar-row>
  </mat-toolbar>-->

<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My App</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar> -->

<header
  class="w-100 d-inline-flex align-items-center justify-content-space-between"
>
  <a [routerLink]="['/home']">
    <img
      [src]="'../../../../../assets/images/logo.svg'"
      alt="Alpha Vault"
      title="Alpha Vault"
    />
  </a>

  <nav class="nav-wrapper">
    <ul class="list">
      <li class="list-item">
        <form
          class="search-form-wrapper"
          [formGroup]="form"
          (submit)="onSubmit()"
        >
          <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" formControlName="text" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </li>
      <li class="list-item">
        <a
          class="d-flex align-items-center justify-content-center border-radius-50"
          [routerLink]="['/home']"
        >
          <mat-icon mat-list-icon>notifications</mat-icon>
        </a>
      </li>
      <li class="list-item">
        <a
          class="d-flex align-items-center justify-content-center border-radius-50"
          [routerLink]="['/profile']"
          [routerLinkActive]="'active-link'"
        >
          <mat-icon mat-list-icon>person</mat-icon>
        </a>
      </li>
      <li class="list-item">
        <a
          class="d-flex align-items-center justify-content-center border-radius-50"
          [routerLink]="['/sign-up']"
          [routerLinkActive]="'active-link'"
        >
          <mat-icon mat-list-icon>pen</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>
