:host::ng-deep header {
  .nav-wrapper {
    .list {
      .list-item {
        display: inline-block;
        padding: 0px 10px;
        &:not(:first-child) {
          a {
            width: 36px;
            height: 36px;
            background: #2f293e;
            color: #e2d8fd;
          }
        }
        .search-form-wrapper {
          margin-right: 20px;
          .mat-form-field {
            .mat-form-field-flex {
              padding: 0px 20px !important;
              border-radius: 50px;
              background: #2f293e;
              color: #e2d8fd;
              .mat-form-field-label {
                color: #e2d8fd;
              }
            }
            .mat-form-field-underline {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
