mat-list {
  mat-list-item {
    &:first-child {
      margin-top: 21px;
    }
    &:last-child {
      a {
        transform: rotateY(180deg);
      }
    }
    a {
      width: 61px;
      height: 58px;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 13px;
      &:active {
        color: #e323ff;
      }
      .mat-label {
        display: none;
      }
    }
  }
}
