<div class="row auth-form-wrapper">
  <div class="col text-left">
    <form [formGroup]="form">
      <div class="w-100 d-block">
        <mat-form-field class="w-100" appearance="fill">
          <mat-icon matPrefix aria-hidden="false">email</mat-icon>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
          <mat-error *ngIf="submitted && form.controls?.email?.errors">
            <alpha-vault-error-messages
              [label]="'Email'"
              [control]="form.controls?.email"
            ></alpha-vault-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="w-100 d-block">
        <mat-form-field class="w-100" appearance="fill">
          <mat-icon matPrefix aria-hidden="false">lock</mat-icon>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="******"
          />
          <mat-icon
            matSuffix
            alphaVaultToggleInput
            [type]="inputTypes.password"
            [toggleType]="inputTypes.text"
            aria-hidden="false"
            >visibility</mat-icon
          >
          <mat-error *ngIf="submitted && form.controls?.password?.errors">
            <alpha-vault-error-messages
              [label]="'Password'"
              [control]="form.controls?.password"
            ></alpha-vault-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
