<section class="mb-4">
  <alpha-vault-card-details>
    <ng-container class="additional-content">
      <alpha-vault-stake-amount-form
        [heading]="'Stake Amount'"
        [submitted]="submitted"
        [form]="form"
      ></alpha-vault-stake-amount-form>
      <div class="footer-content col-xs-12">
        <div class="row mx-0 my-4">
          <div class="col text-left">
            <a class="primary-button" routerLinkActive="active-link">
              <button
                type="button"
                class="btn btn-secondary btn-alpha-vault"
                (click)="navigateBack()"
              >
                BACK
              </button>
            </a>
          </div>
          <div class="col text-right">
            <button
              class="btn btn-primary btn-alpha-vault"
              (click)="stakeAmount()"
            >
              STAKE NOW
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </alpha-vault-card-details>
</section>
