<mat-sidenav-container
  class="sidebar-content-wrapper bg-transparent full-height"
>
  <mat-sidenav mode="side" opened="true" autosize class="bg-transparent">
    <alpha-vault-sidebar></alpha-vault-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="full-height">
    <div class="main-container h-100" fxLayout="column" fxLayoutGap="0px">
      <section class="w-100">
        <alpha-vault-header></alpha-vault-header>
      </section>

      <section
        class="w-100 h-50 d-flex align-items-center justify-content-center"
        *ngIf="isLoading$ | async"
      >
        <alpha-vault-spinner></alpha-vault-spinner>
      </section>

      <section class="w-100" *ngIf="!(isLoading$ | async)">
        <router-outlet></router-outlet>
      </section>

      <section class="w-100">
        <alpha-vault-footer></alpha-vault-footer>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
