<section *ngIf="coin" class="coin-details-section">
  <div class="row">
    <div class="col">
      <p class="text-justify">{{ coin.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td class="border-0" scope="row">Trading Volume 24h</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{
                  coin?.tickers?.usd_volume_24h | currency: 'USD':'symbol':'.2'
                }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Volume / Market Cap</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{
                  coin?.tickers?.usd_market_cap_change_24h
                    | currency: 'USD':'symbol':'.2'
                }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Market Cap</td>
            <td class="text-right font-weight-bold border-0">
              {{
                coin?.tickers?.usd_market_cap | currency: 'USD':'symbol':'.2'
              }}
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Fully Diluted Market Cap</td>
            <td class="text-right font-weight-bold border-0">
              <ng-container *ngIf="coin?.tickers?.fully_diluted_market_cap">{{
                coin?.tickers?.fully_diluted_market_cap
                  | currency: 'USD':'symbol':'.2'
              }}</ng-container>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Circulating Supply</td>
            <td class="text-right font-weight-bold border-0">
              {{ coin?.tickers?.circulating_supply }} {{ coin?.tckers?.symbol }}
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Total Supply</td>
            <td class="text-right font-weight-bold border-0">
              {{ coin?.tickers?.total_supply }} {{ coin?.tickers?.symbol }}
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Max Supply</td>
            <td class="text-right font-weight-bold border-0">
              {{ coin?.tickers?.max_supply }} {{ coin?.tickers?.symbol }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
