<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<ng-container *ngIf="!loading">
  <div
    *ngIf="!isInvestmentConfirm"
    class="portfolio-details-wrapper"
    [formGroup]="form"
  >
    <section class="mb-3">
      <alpha-vault-card-details [heading]="form.value.name">
        <alpha-vault-portfolio-value
          class="icon-content"
          [portfolioValue]="form.value?.percentage"
          [isTrending]="form.value?.isTrending"
        ></alpha-vault-portfolio-value>

        <ng-container class="additional-content">
          <alpha-vault-portfolio-details
            [portfolio]="form.value"
          ></alpha-vault-portfolio-details>
        </ng-container>
      </alpha-vault-card-details>
    </section>

    <section class="mb-3" formArrayName="coinHoldings">
      <alpha-vault-card-details [heading]="'Coin Holdings'">
        <ng-container class="icon-content" *ngIf="form?.value?.isEditable">
          <a
            [routerLink]="['/portfolio/edit/', form?.value?.id]"
            routerLinkActive="active-link"
            title="Edit Portfolio"
          >
            <mat-icon aria-hidden="false" class="edit-icon">edit</mat-icon>
          </a>
        </ng-container>
        <ng-container class="additional-content">
          <alpha-vault-coin-holdings-section
            [readonly]="true"
            [coinHoldings]="form.controls.coinHoldings"
            (rowClickedEmitter)="coinSelected($event)"
          ></alpha-vault-coin-holdings-section>
        </ng-container>
      </alpha-vault-card-details>
    </section>

    <section class="mb-3 investment-form-wrapper">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-8 col-6">
          <alpha-vault-portfolio-investment-form
            [form]="investmentForm"
            [submitted]="submitted"
          >
          </alpha-vault-portfolio-investment-form>
        </div>

        <div class="col-md-4 col-6">
          <button
            *ngIf="form?.value?.isEditable"
            type="button"
            [disabled]="submitting"
            class="btn btn-primary btn-alpha-vault"
            (click)="showInvestmentConfirm()"
          >
            INVEST NOW
          </button>
          <button
            *ngIf="!form?.value?.isEditable"
            type="button"
            [disabled]="submitting"
            class="btn btn-primary btn-alpha-vault"
            (click)="investNow()"
          >
            INVEST NOW
          </button>
        </div>
      </div>

      <div
        class="row"
        *ngIf="investmentForm.controls?.investmentAmount?.errors?.max"
      >
        <div class="col">
          <p class="text-danger warning-message px-3">
            Wallet balance low! To invest
            {{ investmentForm.value.investmentAmount | currency }}
          </p>
          <a
            class="ml-3 p-2 btn-secondary btn-alpha-vault algorithm-default-btn"
            [routerLink]="['/payment/connect']"
            routerLinkActive="active-link"
            >TOP UP NOW</a
          >
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="isInvestmentConfirm" class="portfolio-details-wrapper">
    <section
      *ngIf="!(portfolioAlgorithmDetails$ | async)"
      class="d-flex justify-content-center"
    >
      <alpha-vault-spinner></alpha-vault-spinner>
    </section>
    <section
      class="my-4"
      *ngIf="portfolioAlgorithmDetails$ | async as portfolioAlgorithmDetails"
    >
      <alpha-vault-trading-algorithm-section
        [form]="form"
        [algorithmInfo]="portfolioAlgorithmDetails"
        (investmentConfirmEmitter)="investNow()"
        (investmentCancelEmitter)="isInvestmentConfirm = $event"
      ></alpha-vault-trading-algorithm-section>
    </section>
  </div>
</ng-container>
