<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<ng-container *ngIf="!loading">
  <article
    *ngIf="!isInvestmentConfirm"
    class="portfolio-details-wrapper"
    [formGroup]="form"
  >
    <section class="mb-3">
      <alpha-vault-card-details [heading]="form.value.name">
        <alpha-vault-portfolio-value
          class="icon-content"
          [portfolioValue]="form.value?.percentage"
          [isTrending]="form.value?.isTrending"
        ></alpha-vault-portfolio-value>

        <ng-container class="additional-content">
          <alpha-vault-portfolio-details
            [portfolio]="form.value"
          ></alpha-vault-portfolio-details>
        </ng-container>
      </alpha-vault-card-details>
    </section>

    <section class="mb-3" formArrayName="coinHoldings">
      <alpha-vault-card-details [heading]="'Coin Holdings'">
        <ng-container class="icon-content" *ngIf="form?.value?.isEditable">
          <a
            [routerLink]="['/portfolio/edit/', form?.value?.id]"
            routerLinkActive="active-link"
            title="Edit Portfolio"
          >
            <mat-icon aria-hidden="false" class="edit-icon">edit</mat-icon>
          </a>
        </ng-container>
        <ng-container class="additional-content">
          <alpha-vault-coin-holdings-section
            [readonly]="true"
            [coinHoldings]="form.controls.coinHoldings"
            (rowClickedEmitter)="coinSelected($event)"
          ></alpha-vault-coin-holdings-section>
        </ng-container>
      </alpha-vault-card-details>
    </section>

    <section class="row mb-3 py-2 text-center bg-white">
      <div class="col-md-8 col-12">
        <alpha-vault-portfolio-investment-form
          [form]="investmentForm"
          [submitted]="submitted"
        >
        </alpha-vault-portfolio-investment-form>

        <div
          *ngIf="investmentForm.controls?.investmentAmount?.errors?.max"
          class="d-block my-3"
        >
          <span class="text-danger warning-message">
            Wallet balance low! To invest
            {{ investmentForm.value.investmentAmount | currency }}
          </span>
          <a
            class="ml-md-3 p-2 btn-secondary btn-alpha-vault algorithm-default-btn"
            [routerLink]="['/payment/connect']"
            routerLinkActive="active-link"
            >TOP UP NOW</a
          >
        </div>
      </div>

      <div class="col-md-4 col-12">
        <button
          *ngIf="form?.value?.isEditable"
          type="button"
          [disabled]="submitting"
          class="btn btn-primary btn-alpha-vault"
          (click)="showInvestmentConfirm()"
        >
          INVEST NOW
        </button>
        <button
          *ngIf="!form?.value?.isEditable"
          type="button"
          [disabled]="submitting"
          class="btn btn-primary btn-alpha-vault"
          (click)="investNow()"
        >
          INVEST NOW
        </button>
      </div>
    </section>
  </article>

  <article *ngIf="isInvestmentConfirm" class="portfolio-details-wrapper">
    <section
      *ngIf="!(portfolioAlgorithmDetails$ | async)"
      class="d-flex justify-content-center"
    >
      <alpha-vault-spinner></alpha-vault-spinner>
    </section>
    <section
      class="my-4"
      *ngIf="portfolioAlgorithmDetails$ | async as portfolioAlgorithmDetails"
    >
      <alpha-vault-trading-algorithm-section
        [form]="form"
        [algorithmInfo]="portfolioAlgorithmDetails"
        (investmentConfirmEmitter)="investNow()"
        (investmentCancelEmitter)="isInvestmentConfirm = $event"
      ></alpha-vault-trading-algorithm-section>
    </section>
  </article>
</ng-container>
