@import '../../../../../assets/scss/variables';
.portfolio-details-wrapper {
  .coin-holdings-wrapper {
    .nav-item {
      width: 33%;
      margin: auto;
      .nav-link {
        border: 1px solid $cadmium-violet;
        border-radius: 30px;
        .coin-icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          box-shadow: 1px 1px 5px $quick-silver;
        }
      }

      @media screen and (max-width: $small) {
        .nav-link {
          padding: 4px 4px;
          font-size: x-small;
          .img-fluid {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
