<div class="footer-menu row bg-white">
  <div class="col text-center p-0">
    <a
      class="d-block py-3"
      [routerLink]="['/home']"
      routerLinkActive="active-link"
    >
      <mat-icon class="icon-content" aria-hidden="false" aria-label="Home"
        >attach_money</mat-icon
      >
    </a>
  </div>
  <div class="col text-center p-0">
    <a
      class="d-block py-3"
      [routerLink]="['/portfolio']"
      routerLinkActive="active-link"
    >
      <mat-icon class="icon-content" aria-hidden="false" aria-label="Home"
        >account_balance_wallet</mat-icon
      >
    </a>
  </div>
  <div class="col text-center p-0">
    <a class="d-block py-3" routerLinkActive="active-link">
      <mat-icon class="icon-content" aria-hidden="false" aria-label="User"
        >person</mat-icon
      >
    </a>
  </div>
</div>
