@import '../../../../../assets/scss/variables';

.chart-wrapper {
  .chart-canvas {
    width: 100%;
    min-height: 300px;
    position: relative;
    &.loading-canvas {
      display: contents;
    }
    &.empty-chart {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: $small) {
    .chart-canvas {
      height: 200px;
      min-height: auto;
    }
  }
}

:host::ng-deep .chart-wrapper {
  .chart-canvas {
    text {
      fill: $dark-gunmetal;
    }
  }
}
