<mat-card-content class="card-details-body card-content m-0" [formGroup]="form">
  <div class="row m-0" formGroupName="searchCoin">
    <div class="col-8 pl-0">
      <mat-form-field class="w-100" appearance="fill">
        <mat-icon aria-hidden="false" matPrefix>search</mat-icon>
        <input
          type="text"
          placeholder="Search Coin"
          aria-label="Search Coin"
          matInput
          formControlName="name"
          [matAutocomplete]="auto"
          [readonly]="form.value?.searchCoin?.coinId"
        />
        <mat-icon
          *ngIf="form.value?.searchCoin?.coinId"
          matSuffix
          aria-hidden="false"
          mat-icon-button
          aria-label="Clear"
          (click)="resetSearch()"
          >close</mat-icon
        >
        <mat-error *ngIf="submitted && form.controls?.searchCoin?.errors">
          <alpha-vault-error-messages
            [label]="'Coin Name'"
            [control]="form.controls?.searchCoin"
          ></alpha-vault-error-messages>
        </mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of coins"
            (click)="coinSelectedEmitter.emit(option)"
          >
            {{ option?.name }}
          </mat-option>
          <mat-option
            *ngIf="
              !coins?.length &&
              form.controls.searchCoin?.value?.name?.length > 3
            "
            >{{ noMatchMessage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="col-4 px-0">
      <mat-form-field class="w-100 coin-value-wrapper" appearance="fill">
        <input
          type="number"
          matInput
          placeholder="Coin Percentage"
          formControlName="percentage"
        />
        <mat-icon aria-hidden="false" matSuffix>%</mat-icon>
        <mat-error *ngIf="submitted && form.controls?.percentage?.errors">
          <alpha-vault-error-messages
            [label]="'Percentage'"
            [control]="form.controls?.percentage"
          ></alpha-vault-error-messages>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-card-content>
