<mat-card-content class="card-details-body card-content m-0" [formGroup]="form">
  <div class="row m-0" formGroupName="searchCoin">
    <div class="col-8">
      <mat-form-field class="w-100" appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <input
          type="text"
          placeholder="Search and Add Coin"
          aria-label="Search and Add Coin"
          matInput
          formControlName="title"
          [matAutocomplete]="auto"
          [readonly]="form.value?.searchCoin?.id"
        />
        <mat-icon
          *ngIf="form.value?.searchCoin?.id"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="resetSearch()"
          >close</mat-icon
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of coins"
            (click)="coinSelectedEmitter.emit(option)"
          >
            {{ option?.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Coin Name'"
        [control]="form?.controls?.searchCoin"
      ></alpha-vault-error-messages>
    </div>

    <div class="col-4">
      <mat-form-field class="w-100 coin-value-wrapper" appearance="fill">
        <mat-icon matPrefix>animation</mat-icon>
        <input
          type="number"
          matInput
          placeholder="Coin"
          formControlName="percentage"
        />
        <mat-icon matSuffix>%</mat-icon>
      </mat-form-field>

      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Percentage'"
        [control]="form?.controls?.searchCoin"
      ></alpha-vault-error-messages>
    </div>
  </div>
</mat-card-content>
