<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<section class="my-4 coin-details-page" *ngIf="!loading">
  <alpha-vault-card-details [heading]="coin.name">
    <ng-container class="icon-content">
      <span class="font-weight-normal">{{
        coin?.tickers?.usd_price | currency
      }}</span>
    </ng-container>

    <ng-container class="additional-content">
      <alpha-vault-chart
        [type]="chartTypes.line"
        [data]="data"
      ></alpha-vault-chart>
      <alpha-vault-coin-details [coin]="coin"></alpha-vault-coin-details>
    </ng-container>

    <div class="secondary-button">
      <button
        class="btn btn-secondary btn-alpha-vault"
        (click)="navigateBack()"
      >
        BACK
      </button>
    </div>
  </alpha-vault-card-details>
</section>
