<section *ngIf="portfolio" class="portfolio-details-section">
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td
              class="border-0"
              scope="row"
              colspan="2"
              *ngIf="portfolio?.description"
            >
              <p class="d-inline-flex align-items-center m-0">
                {{ portfolio?.description }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Strategy Type</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{ portfolio?.type }}
                <mat-icon
                  class="portfolio-icon"
                  role="button"
                  aria-hidden="false"
                  [matTooltip]="portfolio?.type"
                  aria-label="Portfolio Type"
                  >question_mark</mat-icon
                >
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Rebalancing</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{ portfolio?.rebalancing }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Hold Term</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{ portfolio?.holdTerm }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-0" scope="row">Buy Type</td>
            <td class="text-right font-weight-bold border-0">
              <p class="d-inline-flex align-items-center m-0">
                {{ portfolio?.buyType }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
