/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Variables SCSS file. */
@import './assets/scss/variables';

html,
body {
  height: 100%;
  outline: none;
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    box-shadow: 0 0 0 1000px $white inset !important;
    -webkit-box-shadow: 0 0 0 1000px $white inset !important;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $cultured;
  box-sizing: border-box;
  .btn-alpha-vault {
    padding: 12px 32px;
    border: 0px;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    letter-spacing: 2px;
    white-space: nowrap;
    :hover {
      box-shadow: 0px 0px 12px $dark-gunmetal;
    }
  }
  button[disabled] {
    cursor: not-allowed;
  }
  .btn-primary {
    color: $dark-gunmetal;
    background: $bright-turquoise !important;
    :hover {
      color: $white;
    }
  }
  .btn-secondary {
    color: $white;
    background: $cadmium-violet !important;
    :hover {
      color: $dark-gunmetal;
    }
  }
  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .ws-nowrap {
    white-space: nowrap;
  }
  form {
    .mat-form-field-invalid {
      overflow: auto;
    }
  }
  .loading-layer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    background-color: rgba(256, 256, 256, 0.9);
  }
  .aggressive {
    display: inline;
    padding: 4px 8px;
    border-radius: 16px;
    color: $white;
    background-color: $light-coral;
  }
  .conservative {
    display: inline;
    padding: 4px 8px;
    border-radius: 16px;
    color: $white;
    background-color: $bright-turquoise;
  }
  .text-pink {
    color: $bright-pink;
  }

  @media screen and (max-width: $small) {
    .btn-alpha-vault {
      padding: 12px 24px;
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
