<mat-card class="portfolio-name-wrapper card-wrapper" [formGroup]="form">
  <mat-card-title-group class="card-details-header mb-4">
    <mat-card-title class="heading font-weight-bold">
      Custom Portfolio
    </mat-card-title>
  </mat-card-title-group>

  <mat-card-content class="card-details-body card-content">
    <div class="w-100 d-block mb-3">
      <mat-form-field class="w-100 name-control-wrapper" appearance="fill">
        <mat-icon aria-hidden="false" matPrefix>pie_chart</mat-icon>
        <input
          type="text"
          matInput
          placeholder="Portfolio Name"
          formControlName="name"
        />
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Name'"
        [control]="form.get('name')"
      ></alpha-vault-error-messages>
    </div>

    <div class="w-100 d-block" *ngIf="isAdmin">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Portfolio Color</mat-label>
        <input
          id="portfolio-color"
          type="color"
          matInput
          placeholder="Portfolio Color"
          formControlName="color"
        />
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Color'"
        [control]="form.get('color')"
      ></alpha-vault-error-messages>
    </div>

    <div class="w-100 d-block" *ngIf="isAdmin">
      <label for="short-description">Short Description</label>
      <mat-form-field class="w-100" appearance="fill">
        <textarea
          id="short-description"
          type="text"
          matInput
          placeholder="Portfolio Short Description"
          formControlName="shortDesc"
          rows="2"
        ></textarea>
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Short Description'"
        [control]="form.get('shortDesc')"
      ></alpha-vault-error-messages>
    </div>

    <div class="w-100 d-block" *ngIf="isAdmin">
      <label for="description">Portfolio Description</label>
      <mat-form-field class="w-100" appearance="fill">
        <textarea
          id="description"
          type="text"
          matInput
          placeholder="Portfolio Description"
          formControlName="description"
          rows="10"
        ></textarea>
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Description'"
        [control]="form.get('description')"
      ></alpha-vault-error-messages>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-details-footer mx-0">
    <div class="row pb-4">
      <div class="col">{{ content }}</div>
    </div>
  </mat-card-actions>
</mat-card>
