<mat-card class="portfolio-name-wrapper card-wrapper" [formGroup]="form">
  <mat-card-title-group class="card-details-header mb-4">
    <mat-card-title class="heading font-weight-bold">
      Custom Portfolio
    </mat-card-title>
  </mat-card-title-group>

  <mat-card-content class="card-details-body card-content">
    <div class="w-100 d-block">
      <mat-form-field class="w-100" appearance="fill">
        <mat-icon matPrefix>pie_chart</mat-icon>
        <input
          type="text"
          matInput
          placeholder="Portfolio Name"
          formControlName="name"
        />
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Name'"
        [control]="form.get('name')"
      ></alpha-vault-error-messages>
    </div>

    <div class="w-100 d-block" *ngIf="isAdmin">
      <mat-form-field class="w-100" appearance="fill">
        <textarea
          type="text"
          matInput
          placeholder="Portfolio Description"
          formControlName="description"
          rows="10"
        ></textarea>
      </mat-form-field>
      <alpha-vault-error-messages
        *ngIf="submitted"
        [label]="'Portfolio Description'"
        [control]="form.get('description')"
      ></alpha-vault-error-messages>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-details-footer mx-0">
    <div class="row pb-4">
      <div class="col">{{ content }}</div>
    </div>
  </mat-card-actions>
</mat-card>
