<mat-card class="card-wrapper">
  <mat-card-title-group class="card-details-header mb-4">
    <mat-card-title class="heading font-weight-bold">
      {{ heading }}
      <span class="icon-wrapper float-right">
        <ng-content select=".icon-content"></ng-content>
      </span>
    </mat-card-title>

    <mat-card-subtitle *ngIf="subHeading" class="sub-heading mt-0"
      >{{ subHeading }}</mat-card-subtitle
    >
  </mat-card-title-group>

  <mat-card-content class="card-details-body card-content">
    <div class="row">
      <div class="col">
        <ng-content select=".additional-content"></ng-content>
      </div>
    </div>
    <div class="row">
      <div class="col">{{ content }}</div>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-details-footer">
    <div class="row">
      <div class="col text-left">
        <ng-content select=".secondary-button"></ng-content>
      </div>
      <div class="col text-right">
        <ng-content select=".primary-button"></ng-content>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ng-content select=".footer-content"></ng-content>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
