<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<ng-container *ngIf="!loading">
  <section
    *ngIf="portfolioDashboardConfig?.portfolioPerformanceDetails"
    class="mb-3 portfolio-performance-wrapper"
  >
    <alpha-vault-card-details
      [heading]="portfolioDashboardConfig?.portfolioPerformanceDetails?.title"
    >
      <alpha-vault-portfolio-value
        class="icon-content"
        [portfolioValue]="
          portfolioDashboardConfig?.portfolioPerformanceDetails?.percentage
        "
        [isTrending]="
          portfolioDashboardConfig?.portfolioPerformanceDetails?.isTrending
        "
      ></alpha-vault-portfolio-value>
      <ng-container class="additional-content">
        <div class="my-3 text-center">
          <p class="portfolio-value">Portfolio Value</p>
        </div>
        <div class="my-1 text-center">
          <p class="h4 font-weight-bold">
            {{
              portfolioDashboardConfig?.portfolioPerformanceDetails?.amount
                | currency
            }}
          </p>
          <p class="my-2">USD</p>
          <a
            class="secondary-button"
            [routerLink]="['/payment/connect']"
            routerLinkActive="active-link"
          >
            <button class="btn btn-primary btn-alpha-vault">ADD FUNDS</button>
          </a>
        </div>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section
    *ngIf="portfolioDashboardConfig?.portfolioAllocationDetails"
    class="mb-3 portfolio-allocation-wrapper"
  >
    <alpha-vault-card-details
      [heading]="portfolioDashboardConfig?.portfolioAllocationDetails?.title"
    >
      <ng-container class="additional-content">
        <div class="row align-items-center">
          <div class="col">
            <alpha-vault-chart
              [type]="chartTypes.donut"
              [data]="
                portfolioDashboardConfig?.portfolioAllocationDetails?.data
              "
            ></alpha-vault-chart>
          </div>
        </div>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section *ngIf="portfolioDashboardConfig?.avxHoldingsDetails" class="mb-3">
    <alpha-vault-card-details
      [heading]="portfolioDashboardConfig?.avxHoldingsDetails?.title"
    >
      <alpha-vault-portfolio-value
        class="icon-content"
        [portfolioValue]="
          portfolioDashboardConfig?.avxHoldingsDetails?.percentage
        "
        [isTrending]="portfolioDashboardConfig?.avxHoldingsDetails?.isTrending"
      ></alpha-vault-portfolio-value>

      <ng-container class="additional-content">
        <alpha-vault-avx-holdings-table
          [avxHoldingsDetails]="portfolioDashboardConfig?.avxHoldingsDetails"
        ></alpha-vault-avx-holdings-table>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <ng-container
    *ngIf="
      portfolioDashboardConfig?.alphaHoldingsDetails &&
      (alphaVaultPortfolios$ | async) as alphaVaultPortfolios
    "
  >
    <section
      *ngIf="alphaVaultPortfolios && alphaVaultPortfolios.length"
      class="mb-3 bucket-holdings-wrapper"
    >
      <alpha-vault-card-details
        [heading]="portfolioDashboardConfig?.alphaHoldingsDetails?.title"
      >
        <ng-container class="additional-content">
          <mat-table [dataSource]="alphaVaultPortfolios || []">
            <ng-container matColumnDef="name">
              <mat-cell *matCellDef="let cell" class="ws-nowrap px-0">
                {{ cell.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalCreatedPrice">
              <mat-cell *matCellDef="let cell" class="justify-content-end">
                <alpha-vault-portfolio-value
                  [portfolioValue]="getPortfolioValue(cell)"
                  [isTrending]="
                    cell.totalCurrentPrice === cell.totalCreatedPrice
                      ? null
                      : cell.totalCurrentPrice > cell.totalCreatedPrice
                  "
                >
                </alpha-vault-portfolio-value>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="investmentAmount">
              <mat-cell *matCellDef="let cell" class="justify-content-end px-0">
                {{ cell.investmentAmount | currency }}
                <span class="ml-1 cursor-pointer text-pink">
                  <mat-icon aria-hidden="false">chevron_right</mat-icon>
                </span>
              </mat-cell>
            </ng-container>

            <mat-row
              class="border-0"
              *matRowDef="
                let row;
                columns: portfolioDashboardConfig?.alphaHoldingsDetails.columns
              "
              (click)="openPortfolioDetails(row)"
            ></mat-row>
          </mat-table>
        </ng-container>
      </alpha-vault-card-details>
    </section>
  </ng-container>

  <ng-container
    *ngIf="
      portfolioDashboardConfig?.bucketHoldingsDetails &&
      (customPortfolios$ | async) as customPortfolios
    "
  >
    <section
      class="mb-3 bucket-holdings-wrapper"
      *ngIf="customPortfolios && customPortfolios.length"
    >
      <alpha-vault-card-details
        [heading]="portfolioDashboardConfig?.bucketHoldingsDetails?.title"
      >
        <ng-container class="additional-content">
          <mat-table [dataSource]="customPortfolios || []">
            <ng-container matColumnDef="name">
              <mat-cell *matCellDef="let cell" class="ws-nowrap px-0">
                {{ cell.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalCreatedPrice">
              <mat-cell *matCellDef="let cell" class="justify-content-end">
                <alpha-vault-portfolio-value
                  [portfolioValue]="getPortfolioValue(cell)"
                  [isTrending]="
                    cell.totalCurrentPrice === cell.totalCreatedPrice
                      ? null
                      : cell.totalCurrentPrice > cell.totalCreatedPrice
                  "
                >
                </alpha-vault-portfolio-value>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="investmentAmount">
              <mat-cell *matCellDef="let cell" class="justify-content-end px-0">
                {{ cell.investmentAmount | currency }}
                <span class="ml-1 cursor-pointer text-pink">
                  <mat-icon aria-hidden="false">chevron_right</mat-icon>
                </span>
              </mat-cell>
            </ng-container>

            <mat-row
              class="border-0"
              *matRowDef="
                let row;
                columns: portfolioDashboardConfig?.bucketHoldingsDetails.columns
              "
              (click)="openPortfolioDetails(row)"
            ></mat-row>
          </mat-table>
        </ng-container>
      </alpha-vault-card-details>
    </section>
  </ng-container>

  <section
    *ngIf="portfolioDashboardConfig?.reportGenerationDetails"
    class="mb-3"
  >
    <alpha-vault-card-details
      [heading]="portfolioDashboardConfig?.reportGenerationDetails?.title"
      [content]="portfolioDashboardConfig?.reportGenerationDetails?.content"
    >
      <ng-container class="additional-content">
        <alpha-vault-report-generation-form
          [form]="form"
        ></alpha-vault-report-generation-form>
      </ng-container>
      <a class="secondary-button" routerLinkActive="active-link">
        <button class="btn btn-primary btn-alpha-vault" [disabled]="true">
          GENERATE REPORT
        </button>
      </a>
    </alpha-vault-card-details>
  </section>
</ng-container>
