<section *ngIf="loading" class="d-flex justify-content-center">
  <alpha-vault-spinner></alpha-vault-spinner>
</section>

<ng-container *ngIf="!loading">
  <section
    *ngIf="portfolioPerformanceDetails"
    class="my-4 portfolio-performance-wrapper"
  >
    <alpha-vault-card-details [heading]="portfolioPerformanceDetails?.title">
      <alpha-vault-portfolio-value
        class="icon-content"
        [portfolioValue]="portfolioPerformanceDetails?.percentage"
        [isTrending]="portfolioPerformanceDetails?.isTrending"
      ></alpha-vault-portfolio-value>
      <ng-container class="additional-content">
        <div class="my-3 text-center">
          <p class="portfolio-value">Portfolio Value</p>
        </div>
        <div class="my-1 text-center">
          <p class="h4 font-weight-bold">
            {{ portfolioPerformanceDetails?.amount | currency }}
          </p>
          <p class="m-0">USD</p>
        </div>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section
    *ngIf="portfolioAllocationDetails"
    class="my-4 portfolio-allocation-wrapper"
  >
    <alpha-vault-card-details [heading]="portfolioAllocationDetails?.title">
      <ng-container class="additional-content">
        <div class="row align-items-center">
          <div class="col-4">
            <alpha-vault-donut-chart></alpha-vault-donut-chart>
          </div>
          <div class="col-8">
            <mat-list>
              <mat-list-item
                *ngFor="
                  let allocation of portfolioAllocationDetails?.allocations
                "
              >
                <div
                  class="allocation-row d-flex justify-content-start align-items-center w-100"
                >
                  <span
                    class="round"
                    [ngStyle]="{ backgroundColor: allocation.color }"
                  ></span>
                  <span>{{
                    allocation.percentage / 100 | percent: '2.2'
                  }}</span>
                  <span class="allocation-title">{{ allocation.title }}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section *ngIf="avxHoldingsDetails" class="my-4">
    <alpha-vault-card-details [heading]="avxHoldingsDetails?.title">
      <alpha-vault-portfolio-value
        class="icon-content"
        [portfolioValue]="avxHoldingsDetails?.percentage"
        [isTrending]="avxHoldingsDetails?.isTrending"
      ></alpha-vault-portfolio-value>

      <ng-container class="additional-content">
        <mat-table [dataSource]="avxHoldingsDetails.portfolios">
          <ng-container matColumnDef="title">
            <mat-cell *matCellDef="let cell" class="ws-nowrap">
              {{ cell.title }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-cell *matCellDef="let cell" class="justify-content-end">
              {{ cell.amount | currency }}
            </mat-cell>
          </ng-container>

          <mat-row
            class="border-0"
            *matRowDef="let row; columns: avxHoldingsDetails.columns"
          ></mat-row>
        </mat-table>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section *ngIf="bucketHoldingsDetails" class="my-4">
    <alpha-vault-card-details [heading]="bucketHoldingsDetails?.title">
      <ng-container class="additional-content">
        <mat-table [dataSource]="bucketHoldingsDetails.portfolios">
          <ng-container matColumnDef="title">
            <mat-cell *matCellDef="let cell" class="ws-nowrap">
              {{ cell.title }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="percentage">
            <mat-cell *matCellDef="let cell" class="justify-content-end">
              <alpha-vault-portfolio-value
                [portfolioValue]="cell.percentage"
                [isTrending]="cell.isTrending"
              >
              </alpha-vault-portfolio-value>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-cell *matCellDef="let cell" class="justify-content-end">
              {{ cell.amount | currency }}
            </mat-cell>
          </ng-container>

          <mat-row
            class="border-0"
            *matRowDef="let row; columns: bucketHoldingsDetails.columns"
            (click)="openPortfolioDetails(row)"
          ></mat-row>
        </mat-table>
      </ng-container>
    </alpha-vault-card-details>
  </section>

  <section *ngIf="reportGenerationDetails" class="my-4">
    <alpha-vault-card-details
      [heading]="reportGenerationDetails?.title"
      [content]="reportGenerationDetails?.content"
    >
      <ng-container class="additional-content">
        <alpha-vault-report-generation-form
          [form]="form"
        ></alpha-vault-report-generation-form>
      </ng-container>
      <a class="secondary-button" routerLinkActive="active-link">
        <button class="btn btn-primary btn-alpha-vault" [disabled]="true">
          GENERATE REPORT
        </button>
      </a>
    </alpha-vault-card-details>
  </section>
</ng-container>
